<div class='jumbotron text-center header'>
  <h4>SELECT LIFT</h4>
  <form >
    <select name='lifts'>
      <option value='squat'>SQUAT</option>
      <option value='bench'>BENCH</option>
      <option value='deadlift'>DEADLIFT</option>
    </select>
    <input type='number' placeholder='WEIGHT' ng-model='number.squat'>
    <input type='number' placeholder='REPS' ng-model='number.reps'>
    <button ng-click='incrementNumber(); number.squat="" ; 
    number.reps =""'>SET</button>
  </form>

  <form type='button'>
  <span ng-model='totalVol'>Total Volume: {{ total }} lbs</span>
  </form>
  <button ng-click='pushVol(); total=0'>Submit Workout</button>
    <!-- <button>Submit</button> -->
  <div ng-repeat='a in display track by $index' ng-click='remove($index)'> {{ a }} </div>
</div>