<div class='jumbotron text-center header'>
  <h3>ENTER STATS</h3>
  <form ng-submit='incrementNumber() ; number.squat=""'>
    <!-- <select name='lifts'>
      <option value='squat'>SQUAT</option>
      <option value='bench'>BENCH</option>
      <option value='deadlift'>DEADLIFT</option>
    </select> -->
    <input type='number' placeholder='ENTER NUMBER' ng-model='number.squat'>
  </form>
  <form type='button'>
  <span ng-model='totalVol'>Total Volume: {{ total }} lbs</span>
  </form>
  <button ng-click='pushVol(); total=0'>Submit Workout</button>
    <!-- <button>Submit</button> -->
  <div ng-repeat='a in display track by $index' ng-click='remove($index)'> {{ a }} </div>
</div>