body {
  background: url('img/maxresdefault.jpg') no-repeat center center fixed;
  background-size: cover;

}

img {
  position: relative;
  width: 100px;
  height: auto;
}

.header {
  opacity: 0.9;
}